* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #FBFAFF;
  font-family: 'Inter', sans-serif;
  font-size: 0.87rem;  /* 14px */
  line-height: 130%;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.upload {
  text-align: center;

  height: 10rem;
  width: 28rem;
  padding: 1.75rem 0 2rem;
  position: relative;

  background-color: #F3F0FF;
  border: 1px dashed #C1B2FA;
  border-radius: 0.5rem;
}

.upload input {
  all: unset;
  opacity: 0;
  inset: 0;
  position: absolute;
}

.upload h3 {
  margin-top: 0.75rem;
  color: #7A5FEC;
  font-weight: 700;
  font-size: 1rem;
}

.upload p {
  color: #746E82;
}